body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rebeccapurple;
    color:rgb(19, 18, 18);
    padding: 20px;
}

h1{
    text-align: center;
}

.button-container{
    text-align: center;
    margin-bottom:20px;
}

button{
    margin:10px;
    padding:10px 20px;
    font-size: 16px;
    cursor:pointer;
    border-style:dashed;
    border-color: darkmagenta;
}

.tool{
    display:flex;
    background:rgb(205, 147, 231);
    padding:20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,.0.1);
    margin-bottom:20px;
}

.tool label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

textArea, input{
width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  resize: vertical;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.result{
    background: #a7adb3;
    padding:10px;
    border-radius: 4px;
}

.imagen-centro{
    display:block;
    margin:20px auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    width:200px;
}